<!DOCTYPE html>
<html ang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/public/default/css/style.css" />

   
<title>贵采</title>
</head>
<body>  
<!--Begin Header Begin-->
<div class="soubg">
	<div class="sou">
        <span class="fr">
            <span class="fl">你好，请<a href="/login">登录</a>&nbsp; 
                <a href="/regist" style="color:#ff4e00;">免费注册</a>&nbsp; 
            </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="/public/default/images/s_tel.png" align="absmiddle" /></a></span>
        </span>
    </div>
</div>
<!--End Header End--> 
<!--Begin Login Begin-->
<div class="log_bg">	
    <div class="top">
        <div class="logo"><a href="Index.html"><img src="/public/default/images/logo.png" /></a></div>
    </div>
	<div class="login">
    	<div class="log_img"><img src="/public/default/images/l_img.png" width="611" height="425" /></div>
		<div class="log_c">
        	<form action="/login/doAdd" method="POST">
            <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="55">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">登录</span>
                    <span class="fr">还没有商城账号，<a href="regist" style="color:#ff4e00;">立即注册</a></span>
                </td>
              </tr>
              <tr height="70">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;邮箱 &nbsp;</td>
                <td><input name="email" required type="text" class="l_user" /></td>
              </tr>
              <tr height="70">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                <td><input name="password" required type="password" class="l_pwd" /></td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" style="margin-top:-4px"/></label><label class="r_txt">请保存我这次的登录信息</label>
                    </span>
                    <span class="fr"><a href="#" style="color:#ff4e00;">忘记密码</a></span>
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="submit" value="登录" class="log_btn" /></td>
              </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 
<!--Begin Footer Begin-->
<%include ./public/footer.html%>
<!--End Footer End -->    

</body>
<!--[if IE 6]>
<script src="js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
    </script>
<![endif]-->    
<script type="text/javascript" src="/public/default/js/jquery-1.11.1.min_044d0927.js"></script>
<script type="text/javascript" src="/public/default/js/jquery.bxslider_e88acd1b.js"></script>
<script type="text/javascript" src="/public/default/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/public/default/js/menu.js"></script>    
<script type="text/javascript" src="/public/default/js/select.js"></script>
<script type="text/javascript" src="/public/default/js/lrscroll.js"></script>
<script type="text/javascript" src="/public/default/js/iban.js"></script>
<script type="text/javascript" src="/public/default/js/fban.js"></script>
<script type="text/javascript" src="/public/default/js/f_ban.js"></script>
<script type="text/javascript" src="/public/default/js/mban.js"></script>
<script type="text/javascript" src="/public/default/js/bban.js"></script>
<script type="text/javascript" src="/public/default/js/hban.js"></script>
<script type="text/javascript" src="/public/default/js/tban.js"></script>
<script type="text/javascript" src="/public/default/js/lrscroll_1.js"></script>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
