<%include ../public/header.html%>
<%include ../public/sidebar.html%>
<!--main contents start-->
<main class="content_wrapper">
<!--page title start-->
<div class="page-heading">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-6">
				<div class="page-breadcrumb">
					<h1>商品管理</h1>
				</div>
			</div>
			<div class="col-md-6 justify-content-md-end d-md-flex">
				<div class="breadcrumb_nav">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a class="parent-item" href="/admin/friendship/">商品管理</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">
							增加商品
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>				
<!--page title end-->
<div class="container-fluid">
<!-- state start-->
	<div class="row">
		<div class=" col-xl-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						增加商品
					</div>
				</div>
				<div class="card-body">
                    <form action="/admin/goods/doAdd" method="post" enctype="multipart/form-data">
                        <div class="form-group">
							<label for="exampleInputEmail1">商品标题</label>
							<input name="title" type="text" class="form-control" required  placeholder="请输入商品标题">
                        </div>
                        <div class="form-group">
							<label for="exampleInputEmail1">附属标题</label>
							<input name="sub_title" type="text" class="form-control" required  placeholder="请输入附属标题">
                        </div>
                        <div class="form-group">
							<label for="exampleInputEmail1">商品版本</label>
							<input name="goods_version" type="text" class="form-control" required  placeholder="请输入商品版本">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">所属分类</label>
                            <select name="cate_id" id="cid" class="form-control" id="exampleFormControlSelect1">
                                <%for(let i=0;i<goodsCate.length;i++){%>
                                   <option value="<%=goodsCate[i]._id%>"><%=goodsCate[i].title%></option>
                                   <%for(let j=0;j<goodsCate[i].items.length;j++){%>
                                        <option value="<%=goodsCate[i].items[j]._id%>">----<%=goodsCate[i].items[j].title%></option>
                                   <%}%>
                                <%}%>  
                             </select>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">商品图片</label>
							<input name="img" type="file" class="form-control-file" required  placeholder="请输入商品图片">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">商品价格</label>
							<input name="price" type="text" class="form-control" required  placeholder="请输入商品价格"/>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">商品原价</label>
							<input name="old_price" type="text" class="form-control" required  placeholder="请输入商品原价"/>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">加入推荐</label><br/>
							<select name="is_hot" class="form-control" id="exampleFormControlSelect1">
								<option value="0">新品</option>
								<option value="1">精品</option>
								<option value="2">热销</option>
                             </select>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">商品运费</label>
							<input name="freight" type="text" class="form-control" required  placeholder="请输入商品运费"/>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">商品库存</label>
							<input name="inventory" type="text" class="form-control" required  placeholder="请输入商品库存">
                        </div>
                        <div class="form-group">
							<label for="exampleInputEmail1">商品颜色</label><br/>
							<%for(let i=0;i<goodsColor.length;i++){%>
                                <input class="form-control-radio" type="checkbox" name="goods_color[]" value="<%=goodsColor[i]._id%>" id="color_goodsColor[i]._id"/>
                                <label for="color_goodsColor[i]._id"><%=goodsColor[i].color_name%></label>
                            <%}%>
                        </div>
                      
						<div class="form-group">
							<label for="exampleInputEmail1">描述</label>
							<textarea name="description" type="text" class="form-control" placeholder="请输入网站名称"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">
							确 定
						</button>
                    </form>     
				</div>
			</div>
	
		</div>
	</div>
	<!-- state end-->
</div>

</main>
<!--main contents end-->
</div>
<!-- Content_right_End -->
<!-- Footer -->
<%include ../public/footer.html%>
<!-- Footer_End -->
</div>
		
</body>
<script type="text/javascript" src="/public/back/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/back/js/popper.min.js"></script>
<script type="text/javascript" src="/public/back/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/back/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/public/back/js/custom.js" type="text/javascript"></script>
</html>