
<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">              
			    <div class="panel-heading">
                   增加商品分类
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/goods/doAdd?_csrf=<%=csrf%>" method="post" class="goods_content" enctype="multipart/form-data">                 
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="general">
                                    <ul class="form_input">
                                        <li> <span> 商品标题:</span> <input type="text" name="title" class="input"/></li>                            
                                        <li> <span> 附属标题:</span> <input type="text" name="sub_title" class="input"/></li>
                                        <li>  <span>商品版本:</span> <input type="text" name="goods_version" class="input"/></li>                            
                                        <li>  <span>所属分类:</span> 
                                            <select name="cate_id" id="cid" style="width: 13.3%;height: 28px;">
                                                <%for(let i=0;i<goodsCate.length;i++){%>
                                                   <option value="<%=goodsCate[i]._id%>"><%=goodsCate[i].title%></option>
                                                   <%for(let j=0;j<goodsCate[i].items.length;j++){%>
                                                        <option value="<%=goodsCate[i].items[j]._id%>">----<%=goodsCate[i].items[j].title%></option>
                                                   <%}%>
                                                <%}%>  
                                             </select>
                                        </li>
                                        <li> <span> 商品图片:</span> <input required type="file" name="img"/></li>
                                        <li>  <span>商品价格:</span> <input required type="text" name="price"/></li>
                                        <li>  <span>商品原价:</span>  <input required type="text" name="old_price"/></li>
                                        <li>  <span>商品运费:</span> <input required type="text" name="freight"/></li>
                                        <li>  <span>商品库存:</span> <input required type="text" name="inventory"/></li>
                                        <li>  <span>商品销量:</span> <input required type="text" name="sales"/></li>
                                        <li> <span>商品颜色:</span>
                                            <%for(let i=0;i<goodsColor.length;i++){%>
                                                <input type="checkbox" name="colors[]" value="<%=goodsColor[i]._id%>" id="color_goodsColor[i]._id"/>
                                                <label for="color_goodsColor[i]._id"><%=goodsColor[i].color_name%></label>
                                            <%}%>
                                        </li>
                                        <li> 
                                            <span>加入推荐:</span>　
                                            <input type="radio" value="0" name="is_hot" checked/> 新品
                                            <input type="radio" value="1" name="is_hot"/> 精品
                                            <input type="radio" value="2" name="is_hot"/> 热销
                                        </li>
                                        <li> <span>商品状态:</span>　
                                            <input type="radio" value="1" name="status" checked/> 显示                                    　
                                            <input type="radio" value="0" name="status"/>  隐藏
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary goods_content_btn">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('#goods_type_id').change(function(){
                let cate_id = $(this).val();
                $.get(`/admin/goods/goodsTypeAttr?cate_id=${cate_id}`,function(res){
                   if(res.code == 200) {
                        let str = '';
                        let goodsTypeAttr = res.data;
                        for(let i=0;i<goodsTypeAttr.length;i++) {
                            if(goodsTypeAttr[i].attr_type == '1'){
                                str+=`<li><span>${goodsTypeAttr[i].title}<span>：<input type="hidden"  name="attr_id_list[]" value="${goodsTypeAttr[i]._id}"/><input  type='text'/></li>`
                            } else if(goodsTypeAttr[i].attr_type == '2') {
                                str+=`<li><span>${goodsTypeAttr[i].title}<span>：<input type="hidden"  name="attr_id_list[]" value="${goodsTypeAttr[i]._id}"/><textarea cols="60" rows="8" style="resize: none"></textarea></li>`
                            } else if(goodsTypeAttr[i].attr_type == '3') {
                                let arr = goodsTypeAttr[i].attr_value.split('\n');
                                str+='<li><span>'+goodsTypeAttr[i].title+'<span>：<input type="hidden"  name="attr_id_list[]" value="+goodsTypeAttr[i]._id+"/>';
                                str+= '<select style="width:180px;height:28px" value="attr_value_list[]">';
                                    for(let j=0;j<arr.length;j++) {
                                        str+=`<option value="${arr[i]}">${arr[i]}</option>`
                                    }
                                str+="</select>"
                                str+='</li>'
                            }
                        }
                        $('#goods_type_attr').html(str)
                    } else {
                        $('#goods_type_attr').html('')
                    }
                }); 
            })

            //富文本
            new  FroalaEditor('#content',{
                height: 300,    //给编辑器设置默认的高度
                language: 'zh_cn',   
                imageUploadURL: '/admin/goods/goodsUploadImage',
            });
            let photoStr='';                
            $('#photoLib').diyUpload({
                url:'/admin/goods/goodsUploadPhoto',                    
                success:function( response ) {
                    
                    photoStr='<input type="hidden" name="goods_image_list[]" value='+response.link+' />';
                    $('#photoList').append(photoStr);
                },
                error:function( err ) {
                    console.info( err );	
                }
            });

        })
    </script>
    
   
</div>
</body>
</html>
