<div class="container_full">
    <div class="side_bar scroll_auto">
        <ul id="dc_accordion" class="sidebar-menu tree">
            <li>
                <a href="/admin/home"> <i class="ti-home"></i> <span>首页</span></a>
            </li>
            <li class="menu_sub">
                <a href="#"> <i class="icon-layers"></i> <span>管理员管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/manager">管理员列表</a>
                    </li>
                    <li>
                        <a href="/admin/manager/add">增加管理员</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/focus"> <i class="fa fa-table"></i> <span>轮播管理 </span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/focus">轮播图列表</a>
                    </li>
                    <li>
                        <a href="/admin/focus/add">增加轮播图</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/article"> <i class="ti-pie-chart"></i> <span>文章管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/article">文章列表</a>
                    </li>
                    <li>
                        <a href="/admin/article/add">增加文章</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/article"> <i class="icon-layers"></i> <span>友情管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/friendship">友情列表</a>
                    </li>
                    <li>
                        <a href="/admin/friendship/add">增加友情</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>