<div class="container_full">
    <div class="side_bar scroll_auto">
        <ul id="dc_accordion" class="sidebar-menu tree">
            
            <li>
                <a href="/admin/home"> <i class="ti-home"></i> <span>首页</span></a>
            </li>
            <li class="menu_sub">
                <a href="#"> <i class="icon-layers"></i> <span>管理员管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/manager">管理员列表</a>
                    </li>
                    <li>
                        <a href="/admin/manager/add">增加管理员</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/focus"> <i class="fa fa-table"></i> <span>轮播管理 </span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/focus">轮播图列表</a>
                    </li>
                    <li>
                        <a href="/admin/focus/add">增加轮播图</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/access"> <i class="ti-pie-chart"></i> <span>权限管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/access">权限列表</a>
                    </li>
                    <li>
                        <a href="/admin/access/add">增加权限</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/user"> <i class="ti-pie-chart"></i> <span>用户管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/user">用户列表</a>
                    </li>
                    <li>
                        <a href="/admin/user/add">增加用户</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/maintain"> <i class="icon-layers"></i> <span>维修管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/maintain">维修列表</a>
                    </li>
                    <!-- <li>
                        <a href="/admin/maintain/add">增加维修</a>
                    </li> -->
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/advert"> <i class="icon-layers"></i> <span>广告管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/advert">广告列表</a>
                    </li>
                    <li>
                        <a href="/admin/advert/add">增加广告</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/goodsCate"> <i class="icon-layers"></i> <span>分类管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/goodsCate">分类列表</a>
                    </li>
                    <li>
                        <a href="/admin/goodsCate/add">增加分类</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/goodsColor"> <i class="icon-layers"></i> <span>颜色管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/goodsColor">颜色列表</a>
                    </li>
                    <li>
                        <a href="/admin/goodsColor/add">增加颜色</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/goods"> <i class="icon-layers"></i> <span>商品管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/goods">商品列表</a>
                    </li>
                    <li>
                        <a href="/admin/goods/add">增加商品</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/coupons"> <i class="icon-layers"></i> <span>优惠券管理</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/coupons">优惠券列表</a>
                    </li>
                    <li>
                        <a href="/admin/coupons/add">增加优惠券</a>
                    </li>
                </ul>
            </li>
            <li class="menu_sub">
                <a href="/admin/message"> <i class="icon-layers"></i> <span>消息通知</span> <span class="icon-arrow-down styleicon"></span> </a>
                <ul class="down_menu">
                    <li>
                        <a href="/admin/message">消息列表</a>
                    </li>
                    <li>
                        <a href="/admin/message/add">增加消息</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>