<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晓智博客</title>
    <meta http-equiv="refresh" content="2;url=<%=redirectURL%>"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/public/admin/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="/public/admin/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="/public/admin/css/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="/public/admin/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/public/admin/css/weather-icons.min.css" rel="stylesheet">
    <link href="/public/admin/css/jquery.easy-pie-chart.css" rel="stylesheet">
  
    <link href="/public/admin/css/style.css" rel="stylesheet">
    <link href="/public/admin/css/header.css" rel="stylesheet">
    <link href="/public/admin/css/menu.css" rel="stylesheet">
    <link href="/public/admin/css/index.css" rel="stylesheet">
    <link href="/public/admin/css/responsive.css" rel="stylesheet">
</head>
<body>
    <link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
	<div class="container" style="margin-top: 100px;width: 600px;">
        <div class="alert alert-success">
            <h2><%=message%></h2>
            <br/>   
            <p>如果您不做出选择，将在 2秒后跳转到第一个链接地址。</p>
        </div>
	</div>
</body>
</html>