<%include ../public/header.html%>
<%include ../public/sidebar.html%>
<link rel="stylesheet" href="/public/admin/edit/css/froala_editor.pkgd.min.css">
<link rel="stylesheet" href="/public/admin/edit/css/froala_style.min.css">
<link ref="stylesheet" href="/public/admin/webloader/css/diyUpload.css">
<link ref="stylesheet" href="/public/admin/webloader/css/webuploader.css">
<!--main contents start-->
<main class="content_wrapper">
<!--page title start-->
<div class="page-heading">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-6">
				<div class="page-breadcrumb">
					<h1>文章详情</h1>
				</div>
			</div>
			<div class="col-md-6 justify-content-md-end d-md-flex">
				<div class="breadcrumb_nav">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a class="parent-item" href="/admin/detail">文章详情</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">
							增加详情
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>				
<!--page title end-->
<div class="container-fluid">
<!-- state start-->
	<div class="row">
		<div class=" col-xl-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						增加文章详情
					</div>
				</div>
				<div class="card-body">
                    <form action="/admin/goods/detail/doAdd" method="post">
                        <ul>
                            <input type="hidden" name="goods_id" value="<%=goods_id%>"/>
                            <div role="tabpanel" class="tab-pane" id="photo">
                                <div id="detailLib" class="photoLib"></div>
                                <div id="detailList"></div>
                            </div>
                            <li>
                                <br/>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </li>
                        </ul>
                    </form>
				</div>
			</div>
	
		</div>
	</div>
	<!-- state end-->
</div>

</main>
<!--main contents end-->
</div>
<!-- Content_right_End -->
<!-- Footer -->
<%include ../public/footer.html%>
<!-- Footer_End -->
</div>
		
</body>
<script type="text/javascript" src="/public/back/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/back/js/editormd.js"></script>
<script type="text/javascript" src="/public/back/js/popper.min.js"></script>
<script type="text/javascript" src="/public/back/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/back/js/jquery.dcjqaccordion.2.7.js"></script>
<script type="text/javascript" src="/public/back/js/custom.js" ></script>
<script type="text/javascript" src="/public/admin/edit/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/public/admin/edit/js/languages/zh_cn.js"></script>
<script type="text/javascript" src="/public/admin/webloader/js/diyUpload.js"></script>
<script type="text/javascript" src="/public/admin/webloader/js/webuploader.html5only.min.js"></script>


<script type="text/javascript">
    $(function() {
       $('#detailLib').diyUpload({
           url:'/admin/goods/goodsUploadPhoto',                    
           success:function( response ) {
               photoStr='<input type="hidden" name="detail_img[]" value='+response.link+' />';
               $('#detailList').append(photoStr);
           },
           error:function( err ) {
               console.info( err );	
           }
       });
    })
  
</script>

</html>