.contact_wrapper{
    width: 100%;
    height: 100%;
    /* background: red; */
}
.contact_content{
    height: 600px;
    padding: 50px 400px;
}
.contact_box{
    width: 100%;
    height: 100%;
}
.form-group{
    width: 210%!important;
    margin-bottom: 20px;
}
.from_input{
    margin-bottom: 20px!important;
}
.form-control{
    width: 100%!important;
}
.btn-primary{
    width: 210%;
}