
.index_swipper{
    width: 100%;
    height: 478px;
    margin-bottom: 20px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-link{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-image{
    width: 100%;
    height: 100%;
    display: block;
}
.index_server{
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #1158E8;
    font-size: 30px;
    margin-bottom: 20px;
}
.index_content{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.content_wrapper{
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.content_box{
    width: 100%;
    height: 300px;
    display: flex;
}
.box_item{
    flex: 1;
    height: 100%;
    margin-left: 20px;
    border: 1px solid #eee;
    background: #fff;
}
.box_item:nth-of-type(1){
    margin-left: 0px;
}
.item_top{
    height: 250px;
    background: yellow;
}
.item_top_image{
    width: 100%;
    height: 100%;
    display: block;
}
.item_bottom{
    height: auto;
    text-align: center;
    line-height: 50px;
    color: #333333;

}