<%- include ../public/header.html %>
<link rel="stylesheet" href="/public/default/css/contact.css">

<div class="contact_wrapper">
   <div class="contact_content">
       <div class="contact_box">
        <form class="navbar-form navbar-left">
            <div class="navbar-title">服务信息填写</div>
            <div class="form-group from_input">
              <input type="text"  id="username" class="form-control" placeholder="姓名:">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" id="mobile" placeholder="手机:">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" id="wechat"  placeholder="微信:(选填)">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" id="industry" placeholder="行业:(选填)">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" id="budget" placeholder="预算:(选填)">
            </div><br/>
            <div class="form-group from_input margin_bottom">
                <input type="text" id="code" class="code_input"   style="width: 70%" placeholder="验证码:">
                <img id="verify_img" src="/api/default/verify" title="看不清？点击刷新" onclick="javascript:this.src='/api/default/verify?mt='+Math.random()">
            </div><br/>
            <button type="submit" id="btn" class="btn btn-primary">提交</button>
        </form>
       </div>
   </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#btn').click(function(ev) {
            ev.preventDefault();
            let username = $('#username').val();
            let mobile = $('#mobile').val();
            let wechat = $('#wechat').val();
            let industry = $('#industry').val();
            let budget = $('#budget').val();
            let code = $('#code').val();
            let params = {
                username,
                mobile,
                wechat,
                industry,
                budget,
                code
            }
            let reg = /^1(3|4|5|7|8)[0-9]{9}$/g;
            if(username && mobile && code) {//提交数据
                if(reg.test(mobile)) {
                    $.post('/contact/doInfo',params,(res) => {
                        if(res.code == 200) {
                            alert(res.msg);
                            window.location.href = '/'
                        } else {
                            alert(res.msg);
                        }
                    })
                } else{
                    alert('手机号不合法')
                }
            } else if(!username){
                alert('用户名不能为空!');
            } else if(!mobile) {
                alert('手机号不能为空!');

            } else if(!code) {
                alert('验证码不能为空!')
            }
        })
    });
</script>

<%- include ../public/footer.html %>