<%- include ../public/header.html %>
<link rel="stylesheet" href="/public/default/css/contact.css">

<div class="contact_wrapper">
   <div class="contact_content">
       <div class="contact_box">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group from_input">
              <input type="text" class="form-control" placeholder="姓名:">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" placeholder="手机:">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" placeholder="微信:">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" placeholder="行业:">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" placeholder="预算:(选填)">
            </div><br/>
            <div class="form-group from_input">
                <input type="text" class="form-control" placeholder="验证码:">
            </div><br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       </div>
   </div>
</div>

<%- include ../public/footer.html %>