<%include ../public/header.html%>
<%include ../public/sidebar.html%>

				<!--main contents start-->
				<main class="content_wrapper">
					<!--page title start-->
					<div class="page-heading">
						<div class="container-fluid">
							<div class="row d-flex align-items-center">
								<div class="col-md-6">
									<div class="page-breadcrumb">
										<h1>用户管理</h1>
									</div>
								</div>
								<div class="col-md-6 justify-content-md-end d-flex">
									<div class="breadcrumb_nav">
										<ol class="breadcrumb">
											<li>
												<i class="fa fa-home"></i>
												<a class="parent-item" href="/admin/user">用户管理</a>
												<i class="fa fa-angle-right"></i>
											</li>
											<li class="active">
												用户列表
											</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--page title end-->
					<div class="container-fluid">
						<!-- state start-->
						<div class="row">
							<div class=" col-sm-12">
								<div class="card card-shadow mb-4">
									<div class="card-header">
										<div class="card-title">
											用户列表
										</div>
									</div>
									<div class="card-body">
										<table id="bs4-table" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>用户名</th>
													<th>会员等级</th>
													<th>来源</th>
													<th>地址</th>
													<th>状态</th>
													<th>增加时间</th>
													<th>操作</th>
												</tr>
											</thead>
											
											<tbody>
												<%for(let i=0;i < list.length;i++){%>
													<tr>
														<td><%=list[i].userName%></td>
														<td><%=list[i].userType%></td>
														<td><%=list[i].source%></td>
														<td><%=list[i].address%></td>
														<td class="text-center">
															<%if(list[i].status == 1){%>
																<img src="/public/back/images/yes.gif" onclick="app.changeStatus(this,'Advert','status','<%=list[i]._id%>')"/>
															<%} else{%>
																<img src="/public/back/images/no.gif" onclick="app.changeStatus(this,'Advert','status','<%=list[i]._id%>')"/>
															<%}%>
														</td>
														<td><%=list[i].add_time%></td>
														<td class="text-center">
															<a class="btn btn-sm btn-info" href="/admin/user/edit?id=<%=list[i]._id%>">修改</a>
															<a class="btn btn-sm btn-danger" href="/admin/user/delete?id=<%=list[i]._id%>">删除</a>
														</td>
													</tr>
												<%}%>
											</tbody>
											
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- state end-->
					</div>

				</main>
				<!--main contents end-->
			</div>

			<!-- Content_right_End -->
			<!-- Footer -->
			<%include ../public/footer.html%>
			<!-- Footer_End -->
		</div>
		
    </body>
	<script type="text/javascript" src="/public/back/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/back/js/popper.min.js"></script>
	<script type="text/javascript" src="/public/back/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="/public/back/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/public/back/js/custom.js" type="text/javascript"></script>

</html>