<%include ../public/header.html%>
<%include ../public/sidebar.html%>
<!--main contents start-->
<main class="content_wrapper">
<!--page title start-->
<div class="page-heading">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-6">
				<div class="page-breadcrumb">
					<h1>管理员管理</h1>
				</div>
			</div>
			<div class="col-md-6 justify-content-md-end d-md-flex">
				<div class="breadcrumb_nav">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a class="parent-item" href="/admin/manager">管理员管理</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">
							增加管理员
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>				
<!--page title end-->
<div class="container-fluid">
<!-- state start-->
	<div class="row">
		<div class=" col-xl-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						增加管理员
					</div>
				</div>
				<div class="card-body">
					<form method="POST" action="/admin/access/doAdd"  enctype="POST" >
						<div class="form-group">
							<label for="exampleInputEmail1">模块名称</label>
							<input name="module_name" type="text" class="form-control"  placeholder="请输入模块名称">
                        </div>
                        <div class="form-group">
                            <!-- 1、表示模块   2、表示菜单     3、操作 -->
							<label for="exampleFormControlSelect1">节点类型</label>
							<select name="type" class="form-control" id="exampleFormControlSelect1">
                                <option value="1">模块</option>
                                <option value="2">菜单</option>
                                <option value="3">操作</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlFile1">操作名称</label>
							<input name="action_name" type="text" class="form-control-file" placeholder="请输入操作名称" >
						</div> 
						<div class="form-group">
							<label for="exampleInputPassword1">操作地址</label>
							<input name="url" type="text" class="form-control"  placeholder="请输入密码">
                        </div>
                        <div class="form-group">
                            <!-- 1、表示模块   2、表示菜单     3、操作 -->
							<label for="exampleFormControlSelect1">所属模块</label>
							<select name="module_id" class="form-control" id="exampleFormControlSelect1">
                                <option value="0">顶级模块</option>
                                <%for(let i=0;i<list.length;i++){%>
                                    <option value="<%=list[i]._id%>"><%=list[i].module_name%></option>
                                <%}%>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlInput1">排序</label>
							<input name="sort" type="number" class="form-control"  placeholder="请输入排序">
						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1">描述</label>
							<textarea name="description" class="form-control"  rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">
							确 定
						</button>
					</form>
				</div>
			</div>
	
		</div>
	</div>
	<!-- state end-->
</div>

</main>
<!--main contents end-->
</div>
<!-- Content_right_End -->
<!-- Footer -->
<%include ../public/footer.html%>
<!-- Footer_End -->
</div>
		
</body>
<script type="text/javascript" src="/public/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/admin/js/popper.min.js"></script>
<script type="text/javascript" src="/public/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/admin/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/public/admin/js/custom.js" type="text/javascript"></script>
</html>