<%- include ../public/header.html %>
    <div class="index_swipper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <%for(let i=0;i<list.length;i++){%>
                    <div class="swiper-slide"><a class="swiper-link"><img class="swiper-image" src="<%=list[i].focus_img%>"/></a></div>
                <%}%>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="index_server">解决方案</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="/public/default/image/wx.png" alt="小程序定制">
                <div class="caption">
                  <h3>小程序定制</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="/public/default/image/wx.png" alt="网站定制">
                  <div class="caption">
                    <h3>网站定制</h3>
                  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="/public/default/image/wx.png" alt="APP定制">
                  <div class="caption">
                    <h3>APP定制</h3>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    
<%- include ../public/footer.html %>
<script type="text/javascript">
        let swiper = new Swiper('.swiper-container', {
            autoplay:true,
            loop:true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
</script>

 