<%- include ../public/header.html %>
<body>
    <div class="index_swipper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <%for(let i=0;i<list.length;i++){%>
                    <div class="swiper-slide"><a class="swiper-link" href="<%=list[i].link%>"><img class="swiper-image" src="<%=list[i].focus_img%>"/></a></div>
                <%}%>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="index_server">解决方案</div>
    <div class="index_content">
        <div class="content_wrapper">
           <div class="content_box">
               <div class="box_item">
                   <div class="item_top">
                       <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">微信小程序定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">网站定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">移动APP定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">H5定制</div>
               </div>
           </div>
        </div>
    </div>
    <div class="index_server">我们的优势</div>
    <div class="index_content">
        <div class="content_wrapper">
           <div class="content_box">
               <div class="box_item">
                   <div class="item_top">
                       <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">微信小程序定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">网站定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">移动APP定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">H5定制</div>
               </div>
           </div>
        </div>
    </div>
    <div class="index_server">团队力量</div>
    <div class="index_content">
        <div class="content_wrapper">
           <div class="content_box">
               <div class="box_item">
                   <div class="item_top">
                       <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">微信小程序定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">网站定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">移动APP定制</div>
               </div>
               <div class="box_item">
                   <div class="item_top">
                        <img class="item_top_image" src="/public/default/image/wx.png" alt="微信小程序定制"/>
                   </div>
                   <div class="item_bottom">H5定制</div>
               </div>
           </div>
        </div>
    </div>
 
</body>
<%- include ../public/footer.html %>
<script type="text/javascript">
        let swiper = new Swiper('.swiper-container', {
            autoplay:true,
            loop:true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
</script>

 