<%- include ../public/header.html%>


<div class="container-fluid">
    <div class="row">
        <div>
            <%- include ../public/header.html%>
        </div>
        <div class="col-sm-10">
           
            <table class="table table-bordered">
                                <tr>
                                    <td align="right" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                                        <label>
                                            <input type="checkbox" class="module_cbo" value="1" name="access_node[]">&nbsp;&nbsp;
                                                菜单管理                       
                                        </label>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="2" name="access_node[]">
                                                &nbsp;&nbsp;菜单列表                   			</label>&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="3" name="access_node[]">
                                                &nbsp;&nbsp;添加菜单                   			</label>&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="4" name="access_node[]">
                                                &nbsp;&nbsp;编辑菜单                   			</label>&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="5" name="access_node[]">
                                                &nbsp;&nbsp;删除菜单                   			</label>                        &nbsp;
                                    </td>
                                </tr>

                                <tr>
                                        <td align="right" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                                            <label>
                                                <input type="checkbox" class="module_cbo" value="1" name="access_node[]">&nbsp;&nbsp;
                                                    菜单管理                       
                                            </label>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="2" name="access_node[]">
                                                    &nbsp;&nbsp;菜单列表                   			</label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="3" name="access_node[]">
                                                    &nbsp;&nbsp;添加菜单                   			</label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="4" name="access_node[]">
                                                    &nbsp;&nbsp;编辑菜单                   			</label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="5" name="access_node[]">
                                                    &nbsp;&nbsp;删除菜单                   			</label>                        &nbsp;
                                        </td>
                                    </tr>

                                
                    </table>

        </div>
    </div>
</div>

</body>
</html>