<%- include ../public/header.html%>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
         	<ul class="aside">
         		
         		<li>
         			<h4>管理员管理</h4>
         			
         			<ul>
         				<li  class="list-group-item"> <a href="/"> 管理员列表</a></li>
         				
         				<li class="list-group-item"> <a href="/add">增加管理员</a></li>
         			</ul>
         		</li>
         		<li>
         			<h4>分类管理</h4>
         			<ul>
         				<li  class="list-group-item"> <a href="/"> 商品分类列表</a></li>
         				
         				<li class="list-group-item"> <a href="/add" >增加商品分类</a></li>
         			</ul>
         		</li>
         		<li>
         			<h4>商品管理</h4>
         			
         			<ul>
         				<li  class="list-group-item"> <a href="/"> 商品列表</a></li>
         				
         				<li class="list-group-item"> <a href="/add">增加商品</a></li>
         			</ul>
         		</li>
         		
         		<li>
         			<h4>轮播图管理</h4>
         			
         			<ul>
         				<li  class="list-group-item"> <a href="/">轮播图列表</a></li>
         				
         				<li class="list-group-item"> <a href="/add">轮播图商品</a></li>
         			</ul>
         		</li>
         		
         	</ul>
			
          
        </div>
        <div class="col-sm-10">
           
            <table class="table table-bordered">
                                <tr>
                                    <td align="right" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                                        <label>
                                            <input type="checkbox" class="module_cbo" value="1" name="access_node[]">&nbsp;&nbsp;
                                                菜单管理                       
                                        </label>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="2" name="access_node[]">
                                                &nbsp;&nbsp;菜单列表                   			</label>&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="3" name="access_node[]">
                                                &nbsp;&nbsp;添加菜单                   			</label>&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="4" name="access_node[]">
                                                &nbsp;&nbsp;编辑菜单                   			</label>&nbsp;&nbsp;
                                            <label>
                                                <input type="checkbox" class="action_cbo" value="5" name="access_node[]">
                                                &nbsp;&nbsp;删除菜单                   			</label>                        &nbsp;
                                    </td>
                                </tr>

                                <tr>
                                        <td align="right" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                                            <label>
                                                <input type="checkbox" class="module_cbo" value="1" name="access_node[]">&nbsp;&nbsp;
                                                    菜单管理                       
                                            </label>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="2" name="access_node[]">
                                                    &nbsp;&nbsp;菜单列表                   			</label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="3" name="access_node[]">
                                                    &nbsp;&nbsp;添加菜单                   			</label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="4" name="access_node[]">
                                                    &nbsp;&nbsp;编辑菜单                   			</label>&nbsp;&nbsp;
                                                <label>
                                                    <input type="checkbox" class="action_cbo" value="5" name="access_node[]">
                                                    &nbsp;&nbsp;删除菜单                   			</label>                        &nbsp;
                                        </td>
                                    </tr>

                                
                    </table>

        </div>
    </div>
</div>

</body>
</html>