.page{
	display: flex;
	width: 100%;
}
.page .auto{
	flex: 1;
}
.page .box{
	right: 0px;
}
.page .box ul{
  width: 100%;
}
.page .box ul li {
	height: 32px;
	width: auto;
	padding: 0px 10px;
	border: 1px solid #eee;
	border-radius: 4px;
	line-height: 32px;
	float: left;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
}
.page .box ul li a{
	display: block;
	cursor: pointer;
}