<%include ../public/header.html%>
<%include ../public/sidebar.html%>

<!--main contents start-->
<main class="content_wrapper">
<!--page title start-->
<div class="page-heading">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-6">
				<div class="page-breadcrumb">
					<h1>文章管理</h1>
				</div>
			</div>
			<div class="col-md-6 justify-content-md-end d-flex">
				<div class="breadcrumb_nav">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a class="parent-item" href="index.html">文章管理</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">
							增加文章
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<!--page title end-->
<div class="container-fluid">
	<!-- state start-->
	<div class="row">
		<div class=" col-sm-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						文章列表
					</div>
				</div>
				<div class="card-body">
					<table id="bs4-table" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>标题</th>
								<th>分类</th>
								<th>图片</th>
								<th>描述</th>
								<th>增加时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<%for(let i=0;i < list.length;i++) {%>
								<tr>
									<td><%=list[i].name%></td>
									<td><%=list[i].classify%></td>
									<td><img class="table-image" src="<%=list[i].img%>"/></td>
									<td><%=list[i].description%></td>
									<td><%=helper.formatTime(list[i].add_time)%></td>
									<td>
										<a class="btn btn-info btn-color">修改</a>
										<a href="/admin/detail?article_id=<%=list[i].id%>&name=<%=list[i].name%>" class="btn btn-info btn-color">增加详情</a>
										<a href="/admin/article/delete?id=<%=list[i]._id%>" class="btn btn-danger btn-color">删除</a>
									</td>
								</tr>
							<%}%>
						</tbody>
					</table>
					<tfoot>
						<nav aria-label="Page navigation example" class="pull-right">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="/admin/article?page=1">首页</a></li>
								<%for(let i=0;i < Math.ceil(count / 10);i++){%>
									<li class="page-item"><a class="page-link" href="/admin/article?page=<%=(i+1)%>"><%=(i + 1)%></a></li>
								<%}%>
							  	<li class="page-item"><a class="page-link" href="/admin/article?page=<%=Math.floor((count / 10)+1)%>">尾页</a></li>
							</ul>
						  </nav>
					</tfoot>
				</div>
			</div>
		</div>
	</div>
	<!-- state end-->
</div>

</main>			
					
<!--main contents end-->
</div>
<!-- Content_right_End -->
<!-- Footer -->
<%include ../public/footer.html%>
<!-- Footer_End -->
</div>
</body>
<script type="text/javascript" src="/public/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/admin/js/popper.min.js"></script>
<script type="text/javascript" src="/public/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/admin/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/public/admin/js/custom.js" type="text/javascript"></script>

</html>