<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">              
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <table class="table table-bordered">
                            <thead>                                   
                            <tr class="th">
                                <th>名称</th>
                                <th>图片</th>
                                <th>信用代码</th>
                                <th>地址</th>
                                <th>电话</th>  
                                <th>邮箱</th>
                                <th>状态</th>
                                <th>增中时间</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="page">
                        <div class="auto"></div>
                        <div class="box">
                            <ul>
                                <li><a href="/admin/goods?page=1">首页</a></li>
                                <li><a href="/admin/goods?page=1">1</a></li>
                                <li><a href="/admin/goods?page=2">2</a></li>
                                <li><a href="/admin/goods?page=3">3</a></li>
                                <li><a href="/admin/goods?page=4">4</a></li>
                                <li><a href="/admin/goods?page=5">5</a></li>
                                <li><a href="/admin/goods?page=6">6</a></li>
                                <li><a href="/admin/goods?page=7">7</a></li>
                                <li><a href="/admin/goods?page=8">8</a></li>
                                <li><a href="/admin/goods?page=9">9</a></li>
                                <li><a href="/admin/goods?page=10">10</a></li>
                                <li><a href="/admin/goods?page=11">尾页</a></li>
                            </ul>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
