<%include ../public/header.html%>
<%include ../public/sidebar.html%>
				<!--main contents start-->
				<main class="content_wrapper">
					<!--page title start-->
					<div class="page-heading">
						<div class="container-fluid">
							<div class="row d-flex align-items-center">
								<div class="col-md-6">
									<div class="page-breadcrumb">
										<h1>管理员管理</h1>
									</div>
								</div>
								<div class="col-md-6 justify-content-md-end d-flex">
									<div class="breadcrumb_nav">
										<ol class="breadcrumb">
											<li>
												<i class="fa fa-home"></i>
												<a class="parent-item" href="/admin/manager">管理员管理</a>
												<i class="fa fa-angle-right"></i>
											</li>
											<li class="active">
												管理员列表
											</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--page title end-->
					<div class="container-fluid">
						<!-- state start-->
						<div class="row">
							<div class=" col-xl-12">
								<div class="card card-shadow mb-4">
									<div class="card-header">
										<div class="card-title">
											基本信息
										</div>
									</div>
									<div class="card-body">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">序号</th>
													<th scope="col">用户名</th>
													<th scope="col">邮箱</th>
													<th scope="col">头像</th>
													<th scope="col">增加时间</th>
													<th scope="col">描述</th>
													<th scope="col">操作</th>
												</tr>
											</thead>
											<tbody>
												<!--  -->
												<%for(let i=0;i < list.length;i++){%>
													<tr>
														<th scope="row"><%=(i + 1)%></th>
														<td><%=list[i].username%></td>
														<td><%=list[i].email%></td>
														<td><img class="table-image" src="<%=list[i].photo%>"/></td>
														<td><%=helper.formatTime(list[i].add_time)%></td>
														<td><%=list[i].description%></td>
														<td>
															<a class="btn btn-info btn-color">修改</a>
															<a href="/admin/manager/delete?id=<%=list[i]._id%>" class="btn btn-danger btn-color">删除</a>
														</td>
													</tr>
												<%}%>
											
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- state end-->
					</div>
				</main>
				<!--main contents end-->
			</div>
			<!-- Content_right_End -->
			<!-- Footer -->
			<%include ../public/footer.html%>
			<!-- Footer_End -->
		</div>
		
	</body>
	<script type="text/javascript" src="/public/admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/admin/js/popper.min.js"></script>
	<script type="text/javascript" src="/public/admin/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="/public/admin/js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="/public/admin/js/custom.js" type="text/javascript"></script>

</html>