<div class="footer">
    <div class="footer_wrapper">
        <div class="footer_content">
            <div class="footer_item">
                <div class="footer_title">官网首页</div>
                <div class="footer_text">科学技术</div>
                <div class="footer_text">VR体验</div>
                <div class="footer_text">产品中心</div>
                <div class="footer_text">新闻中心</div>
            </div>
            <div class="footer_item">
                <div class="footer_title">关于我们</div>
                <div class="footer_text">科学技术</div>
                <div class="footer_text">VR体验</div>
                <div class="footer_text">产品中心</div>
                <div class="footer_text">新闻中心</div>
            </div>
            <div class="footer_item">
                <div class="footer_title">联系我们</div>
                <div class="footer_text">科学技术</div>
                <div class="footer_text">VR体验</div>
                <div class="footer_text">产品中心</div>
                <div class="footer_text">新闻中心</div>
            </div>
            <div class="footer_item">
                <div class="footer_code">
                    <img class="code_image" src="/public/default/image/code.png"/>
                </div>
                <div class="code_text">扫描二维码 了解更多</div>
            </div>
        </div>
        <div class="footer-desc">Copyright © 2018-2019 eureka科技,黔ICP备18002053号-2, All Rights Reserved。</div>
    </div>
</div>
