<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eureka科技</title>
    <link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/default/css/base.css">
    <link rel="stylesheet" href="/public/default/css/index.css">
    <link rel="stylesheet" href="/public/default/css/swiper.min.css">
</head>
<body>
    <div class="header">
        <div class="header_left">
            <div class="left-image">
                <img class="image" src="/public/default/image/logo.png" alt="eureka科技"/>
            </div>
        </div>
        <div class="header_right">
            <ul class="header_ul">
                <li class="header_li"><a class="header_active" href="/">官网首页</a></li>
                <li class="header_li"><a href="/server">服务介绍</a></li>
                <li class="header_li"><a href="/news">新闻动态</a></li>
                <li class="header_li"><a href="/contact">联系我们</a></li>
                <li class="header_li"><a href="/about">关于我们</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/public/default/js/swiper.min.js"></script>