<div class="m_left">
    <div class="left_n">管理中心</div>
    <div class="left_m">
        <div class="left_m_t t_bg1">订单中心</div>
        <ul>
            <li><a href="/order">我的订单</a></li>
            <li><a href="/address" class="now">收货地址</a></li>
            <li><a href="#">跟踪订单</a></li>
        </ul>
    </div>
    <div class="left_m">
        <div class="left_m_t t_bg2">会员中心</div>
        <ul>
            <li><a href="/user">用户信息</a></li>
            <li><a href="/collect">我的收藏</a></li>
            <li><a href="/message">我的留言</a></li>
            <!-- <li><a href="/links">推广链接</a></li> -->
        </ul>
    </div>
    <div class="left_m">
        <div class="left_m_t t_bg3">账户中心</div>
        <ul>
            <li><a href="/safe">账户安全</a></li>
            <li><a href="/packet">我的红包</a></li>
            <li><a href="/money">资金管理</a></li>
        </ul>
    </div>
    <!-- <div class="left_m">
        <div class="left_m_t t_bg4">分销中心</div>
        <ul>
            <li><a href="/member">我的会员</a></li>
            <li><a href="/results">我的业绩</a></li>
            <li><a href="/commission">我的佣金</a></li>
            <li><a href="/cash">申请提现</a></li>
        </ul>
    </div> -->
</div>