
<%- include ../public/header.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aside.html %>        		
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">              
			    <div class="panel-heading">
                   添加相册
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/goods/photo/doAdd%>" method="post" class="goods_content" > 
                            <input type="hidden" name="goods_id" value="<%=goods_id%>"/>
                            <div role="tabpanel" class="tab-pane" id="photo">
                                <div id="photoLib" class="photoLib"></div>
                                <div id="photoList"></div>
                            </div> 
                            <button type="submit" class="btn btn-primary goods_content_btn">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            //富文本
            new  FroalaEditor('#content',{
                height: 300,    //给编辑器设置默认的高度
                language: 'zh_cn',   
                imageUploadURL: '/admin/goods/goodsUploadImage',
            });
            let photoStr='';                
            $('#photoLib').diyUpload({
                url:'/admin/goods/goodsUploadPhoto',                    
                success:function( response ) {
                    
                    photoStr='<input type="hidden" name="goods_image[]" value='+response.link+' />';
                    $('#photoList').append(photoStr);
                },
                error:function( err ) {
                    console.info( err );	
                }
            });

        })
    </script>
    
   
</div>
</body>
</html>
