<%include ../public/header.html%>
<%include ../public/sidebar.html%>
<!--main contents start-->
<main class="content_wrapper">
<!--page title start-->
<div class="page-heading">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-6">
				<div class="page-breadcrumb">
					<h1>分类管理</h1>
				</div>
			</div>
			<div class="col-md-6 justify-content-md-end d-md-flex">
				<div class="breadcrumb_nav">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a class="parent-item" href="/admin/friendship/">分类管理</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">
							增加分类
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>				
<!--page title end-->
<div class="container-fluid">
<!-- state start-->
	<div class="row">
		<div class=" col-xl-12">
			<div class="card card-shadow mb-4">
				<div class="card-header">
					<div class="card-title">
						增加消息
					</div>
				</div>
				<div class="card-body">
                    <form action="/admin/message/doEdit" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%=list._id%>"/>
						<div class="form-group">
							<label for="exampleFormControlSelect1">终端分类</label>
							<select name="pid" class="form-control" id="exampleFormControlSelect1">
                                <option <%if(list.type == 1){%>selected<%}%>  value="1">网站</option>
                                <option <%if(list.type == 2){%>selected<%}%>  value="2">APP</option>
                                <option <%if(list.type == 3){%>selected<%}%>  value="3">小程序</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">消息图片</label>
                            <input name="img" type="file" class="form-control-file"  placeholder="请输入网站名称">
                            <img style="width: 200px;height: 100px;" src="<%=list.url%>"/>
                        </div>
                        <div class="form-group">
							<label for="exampleInputEmail1">跳转地址</label>
							<input name="link" value="<%=list.link%>" type="text" class="form-control" required  placeholder="请输入跳转地址"/>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">描述</label>
							<textarea name="description"  type="text" class="form-control" required  placeholder="请输入描述"><%=list.description%></textarea>
						</div>
						<button type="submit" class="btn btn-primary">
							确 定
						</button>
                    </form>     
				</div>
			</div>
	
		</div>
	</div>
	<!-- state end-->
</div>

</main>
<!--main contents end-->
</div>
<!-- Content_right_End -->
<!-- Footer -->
<%include ../public/footer.html%>
<!-- Footer_End -->
</div>
		
</body>
<script type="text/javascript" src="/public/back/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/back/js/popper.min.js"></script>
<script type="text/javascript" src="/public/back/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/public/back/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/public/back/js/custom.js" type="text/javascript"></script>
</html>